
  <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            {{#with proDetails}}
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                       
                        <img src="/product-images/{{this._id}}.jpg" alt="">
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{this.Name}}<span>{{this.Description}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">{{this.Price}}</div>
                        
                        <div class="product__details__button">
                           
                            
                            <button onclick="addtoWishList('{{this._id}}')" class="btn btn-warning mt-2"
                         >Add Wishlist</button>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-success mt-2">Add to
                                    Cart</button>
                            
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                
                                <li>
                                </li>
                                <li>
                                   
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/with}}
                <div class="col-lg-12">         
    </section>
    <!-- Product Details Section End -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

function addToCart(prodId) {
  $.ajax({
    url: "/add-to-cart/" + prodId,
    method: "get",
    success: (response) => {
      if (response.status) {
        Swal.fire({
          
          icon: 'success',
          title: 'Added to Cart',
          showConfirmButton: false,
          timer: 800
        })
        let count = $("#cart-count").html();
        count = parseInt(count) + 1;
        $("#cart-count").html(count);

      } else {
        location.href = "/userLogin";
      }
    },
  });
}

function addtoWishList(prodId) {
  $.ajax({
    url: "/add-to-wishList/" + prodId,
    method: "get",
    success: (response) => {
      if (response.status) {
        Swal.fire({
          
          icon: 'success',
          title: 'Added to Wishlist',
          showConfirmButton: false,
          timer: 800
        })
        let count = $("#whishlist-count").html();
        count = parseInt(count) + 1;
        $("#whishlist-count").html(count);
      } else {
        location.href = "/userLogin";
      }
    },
  });
}


</script>