<!DOCTYPE html>
<html lang="zxx">


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Banner Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            {{#each banner}}
            <div class="row">
                <div class="">             
                    <div class="categories__item categories__large__item set-bg"
                    
                        data-setbg="banner-images/{{this._id}}.jpg">
                        <div class="categories__text">
                            <h1 class="text-light">{{this.Name}}</h1>
                            <p class="text-light fst-italic">{{Description}}.</p>
                            <a  href="/shop-now">Shop now</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Available items</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">   
                    </ul>
                </div>
            </div>
            <div class="row property__gallery ">
                {{#each products}}
                <div class="col-lg-3 col-md-4 col-sm-6 mix men ">
                    <div class="product__item">
                        <div class="product__item">
                            <a href="/single-product/{{this._id}}">
                                <img src="product-images/{{this._id}}.jpg" class="card-img-top" alt="img"
                                    style="height:12rem ;">
                            </a>
                        </div>
                        <div class="product__item__text">
                            <p>{{this.Description}}</p>
                            <a href="/single-product/{{this._id}}">
                                <h5>{{this.Name}}</h5>
                            </a>
                            <div class="product__price">₹ {{this.Price}}</div>
                            <div><button onclick="addtoWishList('{{this._id}}')" class="btn btn-warning">Add Wishlist</button></li>
                                <button onclick="addToCart('{{this._id}}')" class="btn btn-success">Add to
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <!-- Product Section End -->

<!-- Discount Section Begin -->
    <section class="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="discount__pic">
                        <img src="/product-images/bottom-image1.jpg" style="height:25rem ;" alt="ffffffffffff">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="discount__text">
                        <div class="discount__text__title">
                            <span>Discount</span>
                            <h2>Winter 2022</h2>
                            <h5><span>Sale</span> 25%</h5>
                        </div>
                        <div class="discount__countdown" id="countdown-time">
                            <div class="countdown__item">
                                <span>22</span>
                                <p>Days</p>
                            </div>
                            <div class="countdown__item">
                                <span>18</span>
                                <p>Hour</p>
                            </div>
                            <div class="countdown__item">
                                <span>46</span>
                                <p>Min</p>
                            </div>
                            <div class="countdown__item">
                                <span>05</span>
                                <p>Sec</p>
                            </div>
                        </div>
                        <a href="/shop-now">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Home Delivery</h6>
                        <p>For all oders over ₹ 399</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>
                        <div class="footer__payment">
                            <a href="/"><img src="user/assets/img/payment/payment-1.png" alt=""></a>
                            <a href="/"><img src="user/assets/img/payment/payment-2.png" alt=""></a>
                            <a href="/"><img src="user/assets/img/payment/payment-3.png" alt=""></a>
                            <a href="/"><img src="user/assets/img/payment/payment-4.png" alt=""></a>
                            <a href="/"><img src="user/assets/img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            
                            <li><a href="/">Blogs</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="/profile">My Account</a></li>
                            <li><a href="/orders">Orders Tracking</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="" target="_blank">Street Harvest</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
   

</body>

</html>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>